    .text-center {
        text-align: center;
    }
    
    .heading-medium {
        font-size: 1.5rem;
    }
    
    i {
        color: rgb(117, 35, 73);
    }
    
    i:hover {
        opacity: 0.8;
    }
    /*buttons*/
    
    .btn {
        margin-top: 1rem;
        padding: 0.5rem 1.5rem;
        border-radius: 30px;
        letter-spacing: 0.5px;
    }
    
    .btn:hover {
        background-color: #c9cada;
    }
    
    .btn-primary {
        background-color: #8da8e4;
    }
    
    .btn-primary:hover {
        color: #7293db;
        background-color: #fff;
    }
    
    .heading-big {
        font-size: 1.75rem;
        letter-spacing: 0.5px;
    }
    
    .bg-purple {
        background: #7293db;
    }
    
    .bg-light-purple {
        background: #bcc7df;
    }
    
    .bg-light-ppurple {
        background: #a1a5ce;
    }
    
    .dark-purple {
        background-color: #7293DB;
    }
    
    .bg .container {
        max-width: 1800px;
        margin: 0 auto;
    }
    
    .form-group {
        padding: 0.25rem 0;
    }
    
    .form-group label {
        display: block;
    }
    
    .form-control {
        width: 100%;
        padding: 0.25rem;
        font-size: 1rem;
        resize: none;
        border-radius: 0.25rem;
    }